@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
.title_div{
    margin: 1rem 1rem 0 1rem;
    color: white;
    font-size: 2rem;
    background: #3781ba;
    padding: 1rem 0.5rem;
    border-radius: 5px;
}
.container{
    margin: 8vh auto;
    width: 70%;
    height: 100%;
    min-height: 65vh;
    box-shadow: 1px 1px 3px 2px #655858;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    text-align: center;
    color: white;
    background: #3781ba
}

.input_section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.input_div{
    margin: 1rem 0;
}
.input_section label{
    margin-top: 0.5rem;
    font-weight: 500;
    padding: 0.5rem 0;
}
.input_section input{
    font-weight: 700;
    text-align: center;
    border: none;
    color: white;
    outline: none;
    border-bottom: 3px solid white;
    border-radius: 0.2rem;
    padding: 0.3rem;
    margin: 0 0.3rem;
    background: transparent;
}
.input_section button{
    margin-top: 1.5rem;
    background: black;
    border: none;
    padding: 0.5rem 1.5em;
    font-weight: 700;
    border-radius: 0.2rem;
    color: white;
    letter-spacing: 1px;
}
.input_section button:hover{
    background: rgb(44, 43, 43);
}
.result_section{
    display: flex;
    margin-top: 2rem;
    font-weight: 700;
    padding-bottom: 5px;
    border-radius: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* hiding arrows from input section */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.change-table {
    border-collapse: collapse;
}
  .change-table th{
      display: inline-block;
      margin: 10px;
  }
 .change-table tr{
    display: inline-block;
    float: right;
    height: 100%;
 }
 .change-table td{
     display: block;
 }
  .change-table td, .change-table th {
    padding: 3px;
    background-color:  radial-gradient(#d71f1f, transparent);
  }
  .change-table td{
      content: attr(data-value);
  }
  .change-table td:hover{
    background-color: #aba4a4;
  }
  
  .change-table th {
    text-align: left;
}
.footer{
    background-color:transparent;
}
.footer p{
    text-align: center;
    color: black;
}
.footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer ul li{
    padding: 1.2rem 1rem;
    list-style-type: none;
   
}
.footer ul li a{
    
    color: black;
    text-decoration: none;
}
@media (max-width:800px){
    table{
        font-size: 0.8rem;
    }
}